<div class='outside-container'>
  <div class='carousel slide carousel-fade' data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner --> 




    <div class='container-fluid signup-container'>
      <div class='row'>
        <div class= 'col-sm-8'></div>
        <div class='col-sm-4 signup-form-column'>
          <h2> A platform for every creative </h2>
          <p class = "signup-container-tagline"> Create a portfolio - Build a network </p>
          <%= render partial: 'shared/signup_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-sm-4 landing-page-columns'>

      <H3 class= 'feature-header'> Quick and Easy </H3>
      <i class="fa fa-object-group fa-3x" aria-hidden="true"></i>

      <p> An intuitive and easy setup which takes you to a full portfolio in under 5 minutes </p>
    </div>

    <div class='col-sm-4 landing-page-columns'>

      <H3 class='feature-header'> Always in Sync  </H3>

      <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>

      <p> Your Dashfolio is always updated with your latest content from your social media accounts automatically so you never have to spend time managing it </p>
    </div>

    <div class='col-sm-4 landing-page-columns'>

      <H3 class='feature-header'> Connect and Grow  </H3>
      <i class="fa fa-users fa-3x" aria-hidden="true"></i>

      <p>  Find artists you know and build your professional network </p>
    </div>

  </div>
<hr>
</div>



<div class = "container landing_page_container3">
  <div class = "row">
    <div class = "col-xs-7">
      <h3> A platform for every creative</h3>

      <p> 
        Juketape is the new digital portfolio network for the artists, from the artists and by the artists.

        As the world grows increasingly smaller by the day, it is easy to get lost in the crowd and even more difficult to stand out as an artist or original content creator with talent bursting all around you. Juletape is the professional network of the modern age that allows you to bring all your talent onto one single platform and display for all the world to see. Customize your profile as you desire and connect with other like minded artists, creators and performers on a single plane of talent and creativity. Rome wasn't built in a day, your Juketape profile can be ready in a minute.

        So sign up, and ride the waves of the digital revolution that is coming your way.
      </p>

    </div>

    <div class = "col-xs-5">


    </div>



  </div>
</div>
