<div class='outside-container'>
  <div class='jumbotron'>
    <div class='container-fluid'>
      <div class='row'>
        <div class= 'col-sm-8'></div>
        <div class='col-sm-4'>
          <h2> Juketape is always free</h2>
          <p> Create a portfolio - Build a network </p>
          <%= render partial: 'shared/signup_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-sm-4 landing-page-columns'>
        
      <H3 class= 'feature-header'> Quick and Easy </H3>
        <i class="fa fa-object-group fa-3x" aria-hidden="true"></i>
   
      <p> An intuitive and easy setup which takes you to a full portfolio in under 5 minutes </p>
    </div>

    <div class='col-sm-4 landing-page-columns'>

      <H3 class='feature-header'> Always in Sync  </H3>
     
      <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>

      <p> Your Dashfolio is always updated with your latest content from your social media accounts automatically so you never have to spend time managing it </p>
    </div>

    <div class='col-sm-4 landing-page-columns'>

      <H3 class='feature-header'> Connect and Grow  </H3>
      <i class="fa fa-users fa-3x" aria-hidden="true"></i>
  
      <p>  Find artists you know and build your professional network </p>
    </div>

  </div>

</div>
