<!--<div class='outside-container'>
  <div class='carousel slide carousel-fade' data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
    
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    
    </div> 

  -->

 <div class = "jumbotron">
<div class = "container">
 

    <div class='container-fluid signup-container'>
      <div class='row'>
        <div class= 'col-md-6 col-lg-7 col-xs-12 hidden-xs hidden-sm'> 
        <h1 class = "landing-page-title">Juketape</h1>
        <p class = "landing-page-title-desciption"> Beta </p>
         

        </div>
        <div class='col-md-6 col-lg-5 col-xs-12 signup-form-column'>
            <div class = "signup-form-background">

          <h2> A platform for every creative </h2>
          <p class = "signup-container-tagline"> Create a portfolio - Build a network </p>
          <%= render partial: 'shared/signup_form' %>
        </div>

        </div>
      </div>
    </div>
  </div> <!-- end of carousel-fade div/jumbotron -->
</div> <!-- end of outside-container/container -->

<div class='container'>
  <div class='row'>
    <div class='col-md-4 landing-page-columns'>

      <H3 class= 'feature-header'> Create a presence </H3>
      <i class="fa fa-object-group fa-3x" aria-hidden="true"></i>

      <p> Setup your business-ready, Juketape dashfolio, which showcases your music, videos and pictures in an easy to discover layout, all in under 5 minutes. </p>
    </div>

    <div class='col-md-4 landing-page-columns'>

      <H3 class='feature-header'> Update on the go </H3>

      <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>

      <p> Quickly update your Juketape dashfolio with content from your favorite social media websites, so you never have to spend time managing it. </p>
    </div>

    <div class='col-md-4 landing-page-columns'>

      <H3 class='feature-header'> Grow your network  </H3>
      <i class="fa fa-users fa-3x" aria-hidden="true"></i>

      <p> Easily discover creatives by location and interests, connect with them and grow your professional artist network </p>
    </div>

  </div>
<hr>
</div>



<div class = "container landing_page_container3">
  <div class = "row">
    <div class = "col-xs-12 col-md-7">
      <h3> <strong> How Juketape works </strong></h3>

      <p> 
        Juketape is the new portfolio network for creatives of the 21<sup>st</sup> century. 

        As the world grows increasingly smaller by the day, it is easy to get lost in the crowd and even more difficult to stand out as an artist and original content creator. Juketape is the professional network of the modern age that allows you to bring all your media onto one single platform for the world to see. Customize your profile as you desire and connect with other like minded artists, creators and performers on a single plane of talent and creativity. Rome wasn't built in a day, your Juketape profile can be ready in a minute.

        <br>

        So sign up, and ride the waves of the digital revolution that is coming your way.
      </p>

    </div>

    <div class = "col-xs-0 col-md-5 ">


    </div>



  </div>
</div>
