<div class='dashfolio-about main-content container'>
  <div class= 'about-header-container header-info row' id='about-header' style='display: block;'>

    <div class = "col-xs-3 about-header-container-col">
      <a class='bio-header tablink about-header-container-active' href='#bio-dashfolio' data-turbolink='false'>Bio</a>
    </div>

    <div class = "col-xs-3 about-header-container-col">
      <a class='timeline-header tablink' href='#timeline-dashfolio' data-turbolink='false'>Timeline</a>
    </div>

    <div class = "col-xs-8"> </div>
  </div>


  <hr>
  <div class='about-content'>
    <div class='tabcontent' id='bio-dashfolio' style='display: block;'>
      <p>
       
        <% if artist == current_user %>
         <span class = "in-line-edit">
          <%= best_in_place artist, :bio, as: :textarea, ok_button: 'Save', ok_button_class: 'btn btn-sm in-place-save btn-success',  cancel_button_class: 'btn btn-sm in-place-cancel btn-danger', cancel_button: 'Cancel',  place_holder: 'Add your Bio', inner_class: 'bio-input-in-place' %>
          </span>
          
        <% else %>
        
          <%= artist.bio %>
     
        <% end %>
      
      </p>
    </div>
    <div class='tabcontent' id='timeline-dashfolio'>
      <%= render partial: 'timeline_events/index', locals: {artist: artist} %>
    </div>
  </div>
</div>







    