<div class='dashfolio-about main-content'>
  <div class= 'about-header-container header-info' id='about-header' style='display: block;'>
    <a class='bio-header tablink about-header-container-active' href='#bio-dashfolio' data-turbolink='false'>Bio</a>
    <a class='timeline-header tablink' href='#timeline-dashfolio' data-turbolink='false'>Timeline</a>
  </div>

  <hr>
  <div class='about-content'>
    <div class='tabcontent' id='bio-dashfolio' style='display: block;'>
      <p>
       
        <% if artist == current_user %>
         <span class = "in-line-edit">
          <%= best_in_place artist, :bio, as: :textarea, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add your Bio' %>
          </span>
          
        <% else %>
        
          <%= artist.bio %>
     
        <% end %>
      
      </p>
    </div>
    <div class='tabcontent' id='timeline-dashfolio'>
      <%= render partial: 'timeline_events/index', locals: {artist: artist} %>
    </div>
  </div>
</div>
    