<div class='container'>
  <div class='row dashfolio-main-row' >
    <div class='col-xs-1'></div>
    <div class='col-xs-10 dashfolio-main-container'>
      <%= render partial: 'about_header', locals: { artist: artist } %>
      <%= render partial: 'music_container', locals: { artist: artist } %>
      <%= render partial: 'videos_container', locals: { artist: artist } %>
      <%= render partial: 'images_container', locals: { artist: artist } %>
    </div>
    <div class='col-xs-1'> </div>
  </div>
</div>
