<div class='container'>
  <div class='row dashfolio-main-row' >
    <div class='col-md-2'></div>
    <div class='col-md-8 dashfolio-main-container'>
      <%= render partial: 'about_header', locals: { artist: artist } %>
      <%= render partial: 'music_container', locals: { artist: artist } %>
      <%= render partial: 'videos_container', locals: { artist: artist } %>
      <%= render partial: 'images_container', locals: { artist: artist } %>
    </div>
    <div class='col-md-2'> </div>
  </div>
</div>
