<div class='container'>
  
  <div class='row' id = "dashfolio-main-row">
    <div class='col-md-1 col-xs-0 col-sm-0'></div>

    <div class='col-md-10 col-xs-12 col-sm-12 dashfolio-content-dashbar'>

        <div class = "col-xs-2 dashfolio-midbar-icons">
          <div class = "dashfolio-midbar-about midbar-icon dashfolio-midbar-active">
            <a href='#about-header' id = "dashfolio-midbar-about-h2"> <i class="fa fa-file-text" aria-hidden="true"></i> About</a>

          </div>
        </div> 

        <div class = "col-xs-7"> </div>

        <div class = "col-xs-1 dashfolio-midbar-icons">
          <div class = "dashfolio-midbar-pictures midbar-icon">
           <a href='#pictures-dashfolio' data-turbolinks="false">
            <i class='fa fa-camera fa-2x navbar-icon-fa' aria-hidden='true'></i>
          </a>

          </div>
        </div>

        <div class = "col-xs-1 dashfolio-midbar-icons">
          <div class = "dashfolio-midbar-videos midbar-icon">
            <a href='#videos-dashfolio'>
              <i class='fa fa-video-camera fa-2x navbar-icon-fa' aria-hidden='true'></i>
            </a>

          </div>
        </div> 
     
        <div class = "col-xs-1 dashfolio-midbar-icons">
          <div class = "dashfolio-midbar-music midbar-icon">
            <a href='#music-header'>
              <i class='fa fa-music fa-2x navbar-icon-fa' aria-hidden='true'></i>
            </a>

          </div>
        </div> 
<!--
      <ul class='dashfolio-midbar-icons' style='list-style-type: none;'>
        <li class='dashfolio-midbar-about midbar-icon dashfolio-midbar-active'>
          <a href='#about-header' id = "dashfolio-midbar-about-h2"> <i class="fa fa-file-text" aria-hidden="true"></i> About</a>
        </li>
        <li class='dashfolio-midbar-pictures pull-right midbar-icon'>
          <a href='#pictures-dashfolio' data-turbolinks="false">
            <i class='fa fa-camera fa-2x navbar-icon-fa' aria-hidden='true'></i>
          </a>
        </li>
        <li class='dashfolio-midbar-videos pull-right midbar-icon'>
          <a href='#videos-dashfolio'>
            <i class='fa fa-video-camera fa-2x navbar-icon-fa' aria-hidden='true'></i>
          </a>
        </li>
        <li class='dashfolio-midbar-music pull-right midbar-icon'>
          <a href='#music-header'>
            <i class='fa fa-music fa-2x navbar-icon-fa' aria-hidden='true'></i>
          </a>
        </li>
      </ul> -->
    </div>
    <div class='col-md-1 col-xs-0 col-sm-0'></div>
  </div>
</div>
