<div class='dashfolio-music main-content'> 
  <div class='music-header-container header-info' id='music-header'>
    <a class='tracks-header tablink' href='#tracks-dashfolio'>Tracks</a> 
    <a class='album-header tablink' href='#album-dashfolio'>Albums</a> 
  </div>
  <div class='music-content media-content'>
    <div class='tabcontent' id='tracks-dashfolio'>
      <div class='dashfolio-add-media'>
        <a class='btn btn-block btn-social btn-soundcloud' data-toggle='modal'
          data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
          data-content='soundcloud_tracks', data-container='dashfolio-music'>
          <span class='fa fa-soundcloud'> </span>
          Add tracks
        </a>
      </div>
      <ul class='music-tracks-list'>
        <% artist.soundcloud_network.tracks.each do |source| %>
          <li class='music-track-list-items dashfolio-content-li'>
            <iframe width='100%' height='166' scrolling='no' frameborder='no' src="<%= source['url'] %>"></iframe>
          </li>
        <% end if artist.soundcloud_network.present? %>
      </ul>
    </div>
    <div class='tabcontent' id='album-dashfolio' >
      <div class='dashfolio-add-media'>
        <a class='btn btn-block btn-social btn-soundcloud' data-toggle='modal'
          data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
          data-content='soundcloud_albums', data-container='dashfolio-music'>
          <span class='fa fa-soundcloud'> </span>
          Add albums
        </a>
      </div>
      <ul class='music-albums-list'>
        <% artist.soundcloud_network.albums.each do |source| %>
          <li class='music-albums-list-items dashfolio-content-li'>
            <iframe width='100%' height='450' scrolling='no' frameborder='no' src="<%= source['url'] %>"></iframe>
          </li>
        <% end if artist.soundcloud_network.present? %>
      </ul>
    </div>
  </div> 
</div>
