<div class='dashfolio-video main-content'>
  <div class='video-content media-content'>
    <div class='tabcontent' id='videos-dashfolio'>
      <div class='dashfolio-add-media dashfolio-video-add-button'>
        <a class='btn btn-block btn-social btn-youtube' data-toggle='modal'
          data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
          data-content='youtube_videos', data-container='dashfolio-video'>
          <span class='fa fa-youtube-play'> </span>
          Add videos
        </a>
        <a class='btn btn-block btn-social btn-facebook' data-toggle='modal'
          data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
          data-content='facebook_videos', data-container='dashfolio-video'>
          <span class='fa fa-facebook'> </span>
          Add videos
        </a>
      </div>
      <ul class='video-list'>
        <% artist.youtube_network.videos.each do |video| %>
          <li class='video-list-items dashfolio-content-li'>
            <iframe width='400' height='225' src='<%= video['url'] %>' frameborder='0' allowfullscreen></iframe>
          </li>
        <% end if artist.youtube_network.present? %>
      </ul>
    </div>
  </div>
</div>
