<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h1 class='feedback-title'> Feedback </h1>
      <hr>
     <h3> How can you help us?</h3>
     <button type="button" class="btn btn-success" onclick=" window.open('https://www.surveymonkey.com/r/9MVNY9N','_blank')">Take the Beta user survey!</button>
     <br>
     <br>
     <p>
As great as a product may be on paper and after execution, it can only stay relevant by listening to its users.

We appreciate you taking the time to help us with the beta testing for juketape.com.
As a beta user, you are completely in control of how you use the features currently present on the website and how you perceive the usability and practicality of what Juketape has to offer to you.

A few helpful tips on how you can help us make Juketape the definitive product that is has been envisioned as: -
<ul>
<li>Please bear in mind that this is still a Beta version of the product.There will definitely be features lacking and redundancies as well. But as a beta tester with an open mind, you can help us single and weed out such issues.</li>
<li>We give priority to all issues and problems faced by beta users, but we request that in your feedback to please be descriptive so we can better tackle them. </li>

<li>Please analyse the product from all possible angles of consideration and exhaustively utilise the features present in the product. This is the best way to figure out where we might be lacking or opportunities for improvement.</li>

</ul>


</p>

<br>
<div class = "col-sm-4">

  	<button type="button" class="btn btn-success" onclick=" window.open('https://www.surveymonkey.com/r/9MVNY9N','_blank')" >Take the Beta user survey!</button>
  	<p class = "survey-para"> Take the 4 question Juketape survey for a chance to win an Amazon Gift Card worth $25</p>

<button class = "feedback-button btn btn-primary" type = "button" id = "feedback-email" onClick="window.location.href='mailto:kesavvasudevan@gmail.com';" > <i class="fa fa-envelope-o" aria-hidden="true"></i>
<span class = "hidden-sm">Email us directly at any time</span>  <span class = "visible-sm"> Email us </span></button>

<button class = "feedback-button btn btn-primary" type = "button" id = "feedback-email" onclick=" window.open('https://www.facebook.com/groups/1081273595319412/','_blank')"><i class="fa fa-facebook" aria-hidden="true"></i>
<span class = "hidden-sm"> Join beta users in our Facebook group</span> <span class = "visible-sm"> FB group </span> </button>

<!-- The buttons have spans. The reason we have the visbile and hiddent groups only between small to medium screens is because the original text gets too big inside the button in this screen -->

</div>

<div class = "col-sm-8">
	<h4> Please notify us of any bugs or features you want to see on Juketape </h4>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfIqDyqS7jrlgF7kAogbERtVMMNrzyc3KpNs0T8i6cFFVBrHg/viewform?embedded=true" width="650" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  </div>

  



    </div>
  </div>
</div>
