<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 no-message-header">

			<h3 >You don't have any messages.</h3>
			<p> Start a conversation with any of your connections </p>


		</div>
	</div>
</div>