<div class='navbar navbar-default footer'>

  <div class='container'>
    <ul class='nav navbar-nav'>
      <li><a target="_blank" href='http://www.blog.juketape.com'> Blog </a></li>
      <li> <a href='/terms_of_use'> Terms of Use </a></li>
         <li><a href='/privacy_policy'> Privacy Policy </a></li>
      <li><a href='/contact_us'> Contact Us </a></li>
      <li> <a href = "/feedback"> Feedback </li>

    </ul>
    <a href='https://www.surveymonkey.com/r/9MVNY9N' target = "_blank" class='navbar-btn btn-info btn pull-right'>
    <i class='fa fa-gift' aria-hidden='true'></i> Take the Beta user survey! </a>
  </div>
</div>


