
  <div class="navbar navbar-default footer">
    <div class="container">

      <ul class="nav navbar-nav">
          <li><a href="#"> Blog </a></li>  
            <li> <a href="#"> Terms of use </a></li>
            <li><a href="#"> Contact us </a></li>   
          </ul> 
      
      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-info btn pull-right">
      <i class="fa fa-twitter" aria-hidden="true"></i> Follow us on Twitter! </a>
    </div>
    
    
  </div>
