<div class='navbar navbar-default footer'>

  <div class='container'>
    <ul class='nav navbar-nav'>
      <li><a target="_blank" href='http://www.blog.juketape.com'> Blog </a></li>
      <li> <a href='/terms_of_use'> Terms of use </a></li>
      <li><a href='/contact_us'> Contact us </a></li>
    </ul>
    <a href='#' class='navbar-btn btn-info btn pull-right'>
    <i class='fa fa-twitter' aria-hidden='true'></i> Follow us on Twitter! </a>
  </div>
</div>


