<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">     

             <%= image_tag 'LOGO_border.png', alt: 'logo' %>
          </a>

          <button class="navbar-toggle" type = "button" data-toggle="collapse" data-target = ".navbar-collapse"> 

            <span class="sr-only"> Menu </span>
            <span class = "icon-bar"> </span>
            <span class = "icon-bar"> </span>
            <span class = "icon-bar"> </span>

          </button>

        <%= render partial: 'shared/search_header' %>

        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1"> 
          <!-- having the 'collapse after the navbar-collapse class name keeps this collapsed (hidden) in smaller devices' -->
          <!-- <ul class="nav navbar-nav">
            <li> <a href="#"> About </a></li>
            <li><a href="#"> What is it? </a></li>    
          </ul> -->
        
        <%= render partial: 'shared/login_form_header' %>

          
       
      </div>

    </nav>