<ul class='navbar navbar-right navbar-icons' style='list-style-type: none;'>
  <li>
    <a href='#'>
      <i class='fa fa-envelope fa-2x navbar-icon-fa' aria-hidden='true'></i>
        <!--<span class='label'>23</span> -->
      </i>
     </a>
  </li>
  <li class = "nav-notification-container">

    <div id = "nav-notif-counter" class = "nav-counter">


    </div>

    <a href='#'>
      <i class='fa fa-exclamation fa-2x navbar-icon-fa' aria-hidden='true'></i>
        <!--<span class='label'>23</span> -->
      </i>
     </a>
  </li>

  <li class='dropdown'>
    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
      <%= image_tag('generic_avatar.png', class: 'profile-image-header') %>
    </a>

    <ul class='dropdown-menu'>
      <li>
        <a href='#'><i class='fa fa-user'></i> Profile </a>
      </li>
      <li class='divider'></li>
      <li>
        <a href='#'><i class='fa fa-cog'></i> Settings </a>
      </li>
      <li class='divider'></li>
      <li>
        <%= link_to "<i class='fa fa-sign-out'></i> Sign-out".html_safe, sign_out_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
