<form class='navbar-form navbar-left'>
  <div class='input-group'>
    <input type='text' class='form-control input-sm' placeholder='Search artist profiles'>
    <span class='input-group-btn'>
      <button type='button' class='btn btn-default'>
        <em class='glyphicon glyphicon-search'></em>
      </button>
    </span>
  </div>
</form>
