<%= form_tag search_artists_path(), method: :get, enforce_utf8: false, class: 'navbar-form navbar-left' do %>
  <div class='input-group'>
    <%= text_field_tag :term, nil, class: 'form-control input-sm', placeholder: 'Search artist profiles', required: 'true' %>
    <span class='input-group-btn'>
      <button type='submit' class='btn btn-default search-button-header'>
       	<i class="fa fa-search" aria-hidden="true"></i>

      </button>
    </span>
  </div>
<% end %>
