<form class="dashfolio-timeline-form">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"> <em class="glyphicon glyphicon-user"> </em></span>
      <input type="text" class="form-control input-sm" name="username" placeholder="Username" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"> <em class="glyphicon glyphicon-envelope"> </em></span>
      <input type="email" class="form-control input-sm" name="username" placeholder="Email" aria-describedby="basic-addon1" required>
    </div>


    <div class="input-group">
     <span class="input-group-addon" id="basic-addon2"> <em class="glyphicon glyphicon-lock"> </em></span>
     <input type="password" class="form-control input-sm password-signup" name="password" placeholder="Password" aria-describedby="basic-addon1" required pattern="(?=.*\d)(.{6,})">
   </div>
   <button type="submit" class="btn btn-default signup-submit" >
     SIGN UP
   </button>

 </form>

<!-- this is incorrect, just placeholder -->
