  <%= render partial: 'shared/header' %>

  <div class = "container">
  	<div class = "row">
  		<div class = "col-md-12">

  			<h2 class = "password-recovery-header"> Forgot Password? </h2>  
  			<hr>			

  				<p class = "password-recovery-instructions"> Please enter the email id associated with your JukeTape account, and we'll send you an email to recover your account </p>

  				<form class="form-inline">
  					<div class="form-group">
  						<label for="exampleInputName2">Email</label>
  						<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" type = "email" >
  					</div>

  					  <button type="submit" class="btn btn-primary">Send recovery instructions </button>
  				</form>
  			

  		</div>


  	</div>

  </div>