<%= render partial: 'shared/header' %>

<div class = "inbox-preview">
    <ul  class = "inbox-preview-items">
        <li>
            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p> <strong> Name</strong> </p>
                <p> Subject </p>  
            </div>            

        </li>
        <li><a href="#news">news</a></li>
        <li><a href="#contact">contact</a></li>
        <li><a href="#about">about</a></li>
    </ul>
</div>


<div class = "container">
    <div class = "row">
        <div class = "col-xs-12" >
            <div class = "message-full-preview">
                <h2> Inbox </h2>
                <p> sdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn ds </p>
            </div>
        </div>

    </div>
</div> 
<div id="page">

    <div id="header">

    </div>
    <div id="content">
        <div id="abcd">

        </div>

    </div>

</div>