<!-- Header section -->
<%= render partial: 'static/header_logged_out' %>

<div class = "outside-container">
<div class="jumbotron">
      <div class = "container-fluid">
        <div class = "row">
          <div class= "col-sm-8"> 

          </div>

          <div class = "col-sm-4">

            <h2> Juketape is always free</h2>
            <p> Create a portfolio - Build a network </p>

            <%= render partial: 'shared/signup_form' %>

         </div>

       </div>
     </div>
   </div>
 </div>

 <div class = "container">
  <div class = "row"> 
    <div class = "col-sm-3"> 
      <H3 class= "feature-header"> Generate a Portfolio </H3>
      <img src="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibh</p>
    </div>

    <div class = "col-sm-3"> 
      <H3 class= "feature-header"> Sync with your social accounts </H3>
      <img src="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibh</p>
    </div>

    <div class = "col-sm-3"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibh</p>
    </div>

    <div class = "col-sm-3"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibh</p>
    </div>
  </div>

</div>
</div>

<!-- Footer Section -->
<%= render partial: 'static/footer' %>
