  <%= render partial: 'shared/header' %>

  <div class = "container">
  	<div class = "row">
  		<div class = "col-md-12">

  			<h2 class = "password-recovery-header"> Set new password </h2>  
  			<hr>			

  			<p class = "password-recovery-instructions"> Please configure your new password </p>

  			<form class="form-group password-recovery-form">
  				<label for="exampleInputName2">Enter your new password</label>

  				<input class="form-control main-settings-form-input password-main" type = "password" placeholder="Passwords must be atleast 6 characters long with one number" required pattern = '(?=.*\d)(.{6,})'  id = "new-password">

  				<label for="exampleInputName2"> Retype your new password </label>

  				<input class="form-control main-settings-form-input" type = "password" placeholder= "Passwords must be atleast 6 characters long with one number" id = "confirm-password" pattern = '(?=.*\d)(.{6,})' required  id = "confirm-password">

  				<div >
  					<button type="button" class="btn btn-danger settings-edit-cancel">Cancel</button>
  					<button class="btn btn-success" type= "submit">Save</button>



  				</div>					
  			</form>
  			

  		</div>


  	</div>

  </div>
