 <%= render partial: 'shared/header' %>

 <div class = "container">
 	<div class = "row">
 		<div class = "col-xs-12">

 			<h1 class = "notif-title"> Notifications </h1>

 			<hr>

 			<h3 class = "notif-connection-title"> Connection Requests </h3>

 			<div class = "notif-container"> 				

 				<div class = "notif-profile-pic-container">
 					<%= image_tag("generic_avatar.png", class: "notif-profile-pic") %>  
 				</div>

 				<div class = "notif-name-tag-container">

 					<div class = "notif-name">
 						<h4> Name </h4>
 					</div>

 					<div class = "notif-tagine">
 						<p> Tagline, best there is </p>
 					</div>

 					<div class='tag-container' id='tag-container'>

 						<span class="dashfolio-tag">
 							Jazz       
 						</span>

 						<span class="dashfolio-tag">
 							Jazz       
 						</span>

 						<span class="dashfolio-tag">
 							Jazz       
 						</span>

 					</div>

 				</div> <!--end of tags -->

 				<div class = "inbox-main-action-buttons pull-right">
 					
 						<button type="button" class="btn btn-danger"> <i class="fa fa-times" aria-hidden="true"></i>
						</i> </button>

						<button type="button" class="btn btn-success"> <i class="fa fa-check" aria-hidden="true"></i>
 						Accept </button>

 						</div>

 					</div> <!-- end of notification container -->



 				</div>

 			</div>

 		</div>