<!-- Header section -->
<%= render partial: 'static/header_onboarding' %>


<div class = "search-navigation-bar">	
	<div class = "search-navigation" id= "search-navigation-user">
		<p class = "search-navigation-p"> Search by name <span class = "search-number"> 87</span> </p>

	</div>

	<div class = "search-navigation" id = "search-navigation-tag">
		<p class = "search-navigation-p"> Search by tag  <span class = "search-number"> 65</span></p>
	</div>


</div>


<div class = "container">
	<div class = "row">
		<div class = "col-md-12">

			<div class = "main-search-results">	


				<div class = "search-header">
					<h1> Search Juketape</h1>

					<h3> Showing searches for <span> {search_term} </span></h3>
				</div>

				<hr>

				<div class = "search-main-container">

					

					<div class = "search-name-container">

						<div class="search-name-individual col-md-8">
							<div class = "search-profile-name-tag-container">

								<div class="search-profile-pic-container">
									<img alt="Generic avatar" src="/assets/generic_avatar-fa56ca290420c79308d1d387f152f0c6bf0ea9bcdab81eed808ec7fdfcb4f3f9.png" class="search-profile-pic">  
								</div>

								<div class="search-tagline-container">
									<div class="search-profile-name">
										<p class="search-artist-name"> <strong> Artist Name </strong> </p>
									</div>
									<div class="search-tagline">
										<p class="search-artist-tagline"> Tagline Tagline </p>
									</div>

									<div class="search-tags-list">
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>			
									</div>

								</div>
							</div>					

						</div> <!-- end of .search-name-individual -->

					</div> <!-- end of .search-name-container -->

					<div class = "search-tag-container">

						<div class="search-name-individual col-md-8">
							<div class = "search-profile-name-tag-container">

								<div class="search-profile-pic-container">
									<img alt="Generic avatar" src="/assets/generic_avatar-fa56ca290420c79308d1d387f152f0c6bf0ea9bcdab81eed808ec7fdfcb4f3f9.png" class="search-profile-pic">  
								</div>

								<div class="search-tagline-container">
									<div class="search-profile-name">
										<p class="search-artist-name"> <strong> Artist Name </strong> </p>
									</div>
									<div class="search-tagline">
										<p class="search-artist-tagline"> Tagline Tagline </p>
									</div>

									<div class="search-tags-list">
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>
										<span class="dashfolio-tag"> Jazz </span>			
									</div>

								</div>
							</div>					

						</div> <!-- end of .search-name-individual -->

					</div> <!-- end of .search-name-container -->

				</div>


			</div>

		</div>

	</div>

</div>