<p> <strong> Configure your social accounts </strong> </p>
<div class='main-settings-profile-social-accounts'>
  <div class='main-settings-social-individual'>
    <a class='btn btn-block btn-social btn-soundcloud'>
      <span class='fa fa-soundcloud'></span>
      Connect SoundCloud
    </a> 
    <button type='button' class='btn btn-danger main-settings-social-disconect'> <i class='fa fa-times' aria-hidden='true'></i>
    </button>
  </div>
  <div class='main-settings-social-individual'>
    <a class='btn btn-block btn-social btn-youtube'> <!--doesnt exist in the bootstrap-social plugin (gem), so have manually added the css styles -->
      <span class='fa fa-youtube-play'></span>
      Connect YouTube
    </a>
    <button type='button' class='btn btn-danger main-settings-social-disconect'> <i class='fa fa-times' aria-hidden='true'></i>
    </button>
  </div>
  <div class='main-settings-social-individual'>
    <a class='btn btn-block btn-social btn-instagram'>
      <span class='fa fa-instagram'></span>
      Connect Instagram
    </a>
    <button type='button' class='btn btn-danger main-settings-social-disconect'> <i class='fa fa-times' aria-hidden='true'></i>
    </button> 
  </div>
  <div class='main-settings-social-individual'>
    <a class='btn btn-block btn-social btn-facebook'>
      <span class='fa fa-facebook'></span>
      Connect Facebook
    </a>
    <button type='button' class='btn btn-danger main-settings-social-disconect'> <i class='fa fa-times' aria-hidden='true'></i>
    </button>
  </div>                  
</div>
