 <%= render partial: 'shared/header' %>
 <div class = "content_contact_us">
 	<div class = "container">
 		<div class = "row">
 			<div class = "col-xs-12">
 				<h3 class = "contact-header">Contact </h3>
 				<p> If you have any questions, please feel free to contact us via email</p>
 				<i class="fa fa-envelope-square" aria-hidden="true"></i> 

 				<a href="mailto:kesavvasudevan@gmail.com?Subject=Question%20about%20Juketape" target="_top">kesavvasudevan@gmail.com</a>

				<br>
				<br>
				<br> 			

 					<p style = "width: 50%;"> If you find any issues, bugs or have suggestions on how to improve Juketape, please feel free to record it by clicking on the button below </p> 
 					<a class="btn btn-block btn-social btn-github github-contact-us" href= "https://github.com/kesh92/Juketape-Public/issues" target="_blank">
 						<span class="fa fa-github"></span> File an issue
 					</a>

 			

 			</div>
 		</div>
 	</div>
 </div>

 <%= render partial: 'shared/footer' %>