<%= render partial: 'shared/header' %>

<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<h1> Juketape Privacy Policy</h1>
      <p> Welcome to Juketape ("Juketape," "we," "us" or "our"). Juketape is a portfolio networking platform for media content creators of the 21st century. Juketape connects with the user's social media accounts and beautifully renders User Content  as a creative portfolio, with all the relevant content in a centralized location. Juketape also lets users connect with each other and provide a pathway for future collaboration and building a professional network. Juketape aims to help the everyday artist build a network and publish portfolios.  </p>
      <ol>
        <li>Our Privacy Policy explains how we and some of the companies we work with collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with Juketape services (collectively, the "Service"), and your choices about the collection and use of your information.</li>

        <li>By using our Service you understand and agree that we are providing a platform for you to post and share content and other materials ("User Content"), to the Service and to share User Content with other Users (as defined below). This means that other Users may search for, see, use, or share any of your User Content that you make available through the Service, consistent with the terms and conditions of this Privacy Policy and our Terms of Use.</li>

        <li>Our Policy applies to all visitors, users, and others who access the Service ("Users").</li>

      </ol>

      <h3> 1. INFORMATION WE COLLECT </h3>


      We collect the following types of information.
      <br>
      <strong>Information you provide us directly:</strong>
      <ul>
        <li>Your username, password and e-mail address when you register for an Juketape account.</li>
        <li>Profile information that you provide for your user profile (e.g., first and last name, picture, phone number). This information allows us to help you or others be "found" on Juketape.</li>
        <li>User Content (e.g., media, posts, comments, and other materials) that you post to or share with the Service.</li>
        <li>Communications between you and Juketape. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices). </li>

      </ul>

      <strong>Analytics information:</strong>
      <ul>
        <li>We may use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools collect information sent by your device or our Service, including the web pages you visit, add-ons, and other information that assists us in improving the Service. We collect and use this analytics information with analytics information from other Users so that it cannot reasonably be used to identify any particular individual User.</li>
      </ul>
      <strong>Cookies and similar technologies:</strong>
      <ul>
        <li>When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use Juketape and provide features to you.
          We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.</li>
        </ul>

        <strong>Log file information:</strong>
        <ul>
          <li>Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.</li>
          <li>When you use our Service, our servers automatically record certain log file information, including your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information. We may also collect similar information from emails sent to our Users which then help us track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Service. </li>

        </ul>

        <strong>Device identifiers:</strong>
        <ul>
          <li>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other software, or data sent to the device by Juketape.</li>

          <li>A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.</li>

        </ul>
        <strong>Metadata:</strong>
        <ul>
          <li>Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how, when and by whom a piece of User Content was collected and how that content is formatted.</li>

          <li>Users can add or may have Metadata added to their User Content including a hashtag (e.g., to mark keywords when you post a photo), geotag (e.g., to mark your location to a media post or share), comments or other data. This makes your User Content more searchable by others and more interactive. </li>
        </ul>

        <strong>Social media info</strong>
        <ul>
          <li>You can choose to connect third party social media Web sites and services through our Services (such as Twitter or Facebook) ("Social Media Services"). When you do so, you are sharing information with those Social Media Services, and the information you share will be governed by their privacy policies and terms of service. You may also be able to modify your privacy settings with these Social Media Services to, for example, control what information the Social Media Services disclose to third party services like Juketape. When you add Social Media Service accounts to the Services or sign into the Services using your Social Media Services account, we will collect relevant information necessary to enable our Services to access that Social Media Service, but you will provide your sign in information, like your password, directly to such Social Media Service (and not to us). As part of such integration, the Social Media Service will provide us with access to certain information that you have provided to such Social Media Service, and we will use, store and disclose such information in accordance with this Privacy Policy and, if and to the extent applicable, the policies of such Social Media Services. In addition, we may provide certain information about you or your activities on the Services, or that you have otherwise provided to us, to such Social Media Services as part of such integration (including information that may be used by such Social Media Services to personalize ads for you). However, please remember that the manner in which Social Media Services use, store and disclose your information is governed by the policies of such third parties, and we shall have no liability or responsibility for the privacy practices or other actions of any Social Media Services that may be enabled within the Service. Specifically, with Facebook, the Services utilize the following data and permissions: the ability to access your data "offline", your email address, to read your stream or feed, likes, birthdate, education, location, work history, and hometown. SHould you choose to connect to a third party social media web site, collect social media information like username, video id, picture id to quickly access user information the next time of login. </li>



        </ul>


        <h3>2. USING OF YOUR INFORMATION</h3> 

        In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:
        <ul>
          <li>help you efficiently access your information after you sign in</li>
          <li>remember information so you will not have to re-enter it during your visit or the next time you visit the Service</li>
          <li>provide personalized content and information to you and others, which could include online ads or other forms of marketing</li>
          <li>provide, improve, test, and monitor the effectiveness of our Service</li>
          <li>develop and test new products and features</li>
          <li>monitor metrics such as total number of visitors, traffic, and demographic patterns</li>
          <li>diagnose or fix technology problems</li>

        </ul>

        <h3>3. SHARING OF YOUR INFORMATION</h3>

        We will not rent or sell your information to third parties outside Juketape without your consent, except as noted in this Policy.
        <br>

        <strong>Parties with whom we may share your information:</strong>
        <ul>
          <li>We also may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide the Service to you ("Service Providers"). Our Service Providers will be given access to your information as is reasonably necessary to provide the Service under reasonable confidentiality terms.</li>

          <li>We may also share certain information such as cookie data with third-party advertising partners. This information would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</li>

          <li>We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.</li>
        </ul>

        <strong>Parties with whom you may choose to share your User Content:</strong>
        <ul>
          <li>Any information or content that you voluntarily disclose for posting to or sharing with the Service, such as User Content, becomes available to other Users of the Service or to the public, as controlled by any applicable privacy settings that you set. To change your privacy settings on the Service, please change your profile setting. Once you have shared User Content or made it public, that User Content may be re-shared by others.</li>

          <li>If you remove information that you posted to the Service, copies may remain viewable in cached and archived pages of the Service.</li>
        </ul>

        <strong>What happens in the event of a change of control:</strong>

        <ul>

          <li>If we sell or otherwise transfer part or the whole of Juketape or our assets to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email address, User Content and any other information collected through the Service may be among the items sold or transferred. You will continue to own your User Content. The buyer or transferee will have to honor the commitments we have made in this Privacy Policy.</li>
        </ul>

        <strong>Responding to legal requests and preventing harm:</strong>

        <ul>
          <li>We may access, preserve and share your information in response to a legal request (like a search warrant, court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of the United States where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; and to prevent death or imminent bodily harm. Information we receive about you may be accessed, processed and retained for an extended period of time when it is the subject of a legal request or obligation, governmental investigation, or investigations concerning possible violations of our terms or policies, or otherwise to prevent harm.</li>

        </ul>





        <h3>4. HOW WE STORE YOUR INFORMATION</h3>

        Storage and Processing:
        <ul>
          <li>Your information collected through the Service may be stored and processed in the United States or any other country in which Juketape or Service Providers maintain facilities.</li>

          <li>Juketape or Service Providers may transfer information that we collect about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.</li>

          <li>By registering for and using the Service you consent to the transfer of information to the U.S. or to any other country in which Juketape or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.</li>

          <li>We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. However, Juketape cannot ensure the security of any information you transmit to Juketape or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed.</li>

          <li>Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and Juketape, at all times. Your privacy settings may also be affected by changes the social media services you connect to Juketape make to their services. We are not responsible for the functionality, privacy, or security measures of any other organization.</li>


        </ul>



        <h3>5. YOUR CHOICES ABOUT YOUR INFORMATION</h3>
        <ul>

          <li>Update your account at any time by logging in and changing your profile settings.</li>
          <li>Following termination or deactivation of your account, Juketape, its Affiliates, or its Service Providers may retain information (including your profile information) and User Content for a commercially reasonable time for backup, archival, and/or audit purposes.</li>
        </ul>

        <h3>6. OTHER WEB SITES AND SERVICES</h3>

        We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.

        <h3>7. HOW TO CONTACT US ABOUT A DECEASED USER</h3>

        In the event of the death of an Juketape User, please contact us. We will usually conduct our communication via email; should we require any other information, we will contact you at the email address you have provided in your request.

        <h3>8. HOW TO CONTACT US</h3>

        If you have any questions about this Privacy Policy or the Service, please find the appropriate support channel in the <a href= "/contact_us">Juketape Contact</a> page.


        <h3>9. CHANGES TO OUR PRIVACY POLICY</h3>
        Juketape may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of Juketape or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
      </div>

    </div>	

  </div>

  <br>
  <br>


  <%= render partial: 'shared/footer' %>