<%= link_to connect_soundcloud_text, connect_soundcloud_link,
  class: 'btn btn-block btn-social btn-soundcloud' %>

<%= link_to connect_youtube_text, connect_youtube_link,
  class: 'btn btn-block btn-social btn-youtube' %>

<a class='btn btn-block btn-social btn-instagram'>
  <span class='fa fa-instagram'></span>
  Connect Instagram
</a>

<a class='btn btn-block btn-social btn-facebook'>
  <span class='fa fa-facebook'></span>
  Connect Facebook
</a>
