<a class='btn btn-block btn-social btn-soundcloud'>
  <span class='fa fa-soundcloud'></span>
  Connect Soundcloud
</a>

<a class='btn btn-block btn-social btn-youtube'>
  <span class='fa fa-youtube-play'></span>
  Connect YouTube
</a>

<a class='btn btn-block btn-social btn-instagram'>
  <span class='fa fa-instagram'></span>
  Connect Instagram
</a>

<a class='btn btn-block btn-social btn-facebook'>
  <span class='fa fa-facebook'></span>
  Connect Facebook
</a>
