<div class = "modal fade" id = "welcome-message-modal" role = "dialog">
  <div class = "modal-dialog">
  
  <!-- Model Content -->
  <div class = "modal-content">
    <div class = "modal-header">
      <button type = "button" class = "close" data-dismiss = "modal"> &times; </button>
      <h2 class = "modal-title"> Welcome aboard! </h2>
    </div>

    <div class = "modal-body">
      <p> Thank you so much for joining Juketape, as a Beta user. Juketape's vision is to connect all the creatives of the world on a professional platform. Create a business ready portfolio using existing content from your social media platforms, and build your creative network.  </p>

      <p> Juketape is still in Beta, meaning we're still developing and testing the concept, with limited public release. There's still a lot of work to be done if we want to realize our vision. We are a small team of engineers, who would greatly appreciate if you could take the time to try Juketape, and provide feedback on your experience.  </p>

      <p> Please visit <a href = "/feedback"><strong>the feedback page</strong></a> for more details on how to provide feedback, and for a chance to win an Amazon Gift Card. </p>

      <p> Thanks again, and hope to hear from you soon! </p> 
      <br>
      <h6><strong> Keshav Vasudevan</strong> </h6>

    </div>
    
    <div class = "modal-footer">
      <button type = "button" class = "btn btn-default" data-dismiss = "modal"> Close </button>
    </div>

  </div>
  
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $("#welcome-message-modal").modal();
  });
</script>



<div class='container onboarding'>
  <div class='row'>
    <div class='col-lg-2 col-md-2'> </div>
    <div class='col-lg-10 col-md-10'>
      <h3> Profile Setup </h3>
      <div class = 'onboarding-family'>
        <p> <strong>Act Name </strong> </p>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= form_for current_user, url: tagline_setup_index_path(), html: { method: :post } do |f| %>
              <div class='form-group'>
                <p> How would you or your act like to be known by on Juketape? </p>
                <%= f.text_field :act_name, value: current_user.act_name, class: 'form-control input-sm', placeholder: 'eg: The Beatles', required: true %>
              </div>
              <%= f.submit 'Next', class: 'onboarding-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
