<div class='container onboarding'>
  <div class='row'>
    <div class='col-lg-12 col-md-12'>
      <h3> Profile Setup </h3>
      <div class = 'onboarding-family'>
        <p> <strong>Act Name </strong> </p>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= form_for current_user, url: tag_line_setup_index_path(), html: { method: :post } do |f| %>
              <div class='form-group'>
                <p> How would you or your act like to be known by on Juketape? </p>
                <%= f.text_field :act_name, value: current_user.act_name, class: 'form-control', placeholder: 'eg: The Beatles', required: true %>
              </div>
              <%= f.submit 'Next', class: 'onboarding-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
