<div class='container onboarding'>
  <div class='row'>
    <div class='col-lg-2 col-md-2'></div>
    <div class='col-lg-10 col-md-10'>
      <h3> Profile Setup </h3>
      <div class = 'onboarding-family'>
        <p> <strong> Sync Social Media Content </strong> </p>
        <p> Connect your social media accounts so that Juketape can update your portfolio automatically </p>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= render partial: 'setup/connect_social_accounts' %>
            <br>
            <%= link_to 'Next', finalize_setup_setup_index_path(), class: 'onboarding-submit' %>
            <%= link_to 'skip', finalize_setup_setup_index_path(), class: 'skip-onboarding' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
