<div class='container onboarding'>
  <div class='row'>
    <div class='col-lg-2 col-md-2'></div>
    <div class='col-lg-10 col-md-10'>
      <h3> Profile Setup </h3>
      <div class = 'onboarding-family'>
        <p> <strong>Tag Line </strong> </p>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= form_for current_user, url: dashfolio_picture_setup_index_path(), html: { method: :post } do |f| %>
              <div class='form-group'>
                <p> What's the tagline you'd like to be known by? </p>
                <%= f.text_field :tag_line, value: current_user.tag_line, class: 'form-control input-sm', placeholder: 'eg: Singer of opera and lover of hummus', required: true %>
                <br>
                <p> (Taglines appear in search results under your act's name on Juketape) </p>
              </div>
              <%= f.submit 'Next', class: 'onboarding-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
