@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "jquery-ui/datepicker";
@import "font-awesome";
@import "fonts";
@import "custom_styles";
@import "bootstrap/bootstrap-tooltip";

body {
   
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height:100%;
    min-height: 100%;
    margin: 0;
      box-sizing: border-box;

}

html, body {
  height:100%;
  width:100%;
  float:left;
}

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.ui-datepicker {
  padding: 0.2em 1.2em 0 0.3em;
  background: #eee;
}

.navbar-header {  /*adjusts the logo and search bar to align with the login form in the header */
  margin-top: 10px;
}

.navbar-brand img {
	width:40px;
    height:40px;
    position:relative;
    bottom:10px;
    object-fit:contain;
    -webkit-filter: drop-shadow(10px 10px 5px -5px white);
    filter:  drop-shadow(10px 10px 5px -5px white); 
}

.navbar {

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #1c1c1c 100%, #3f3f3f 100%, #111111 100%, #2b2b2b 100%, #303030 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#1c1c1c 100%,#3f3f3f 100%,#111111 100%,#2b2b2b 100%,#303030 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#1c1c1c 100%,#3f3f3f 100%,#111111 100%,#2b2b2b 100%,#303030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
margin-bottom: 0; /* important as it eliminates the space between navbar and jumbotron image*/

}
.input-group {

	height: 12px;
}

.navbar button {

	height: 30px;
}

.outside-container{
     min-height:100%; /* this makes sure that the contents of any html page wrapped withhin this has the full length of the browser */
     position:relative; 
}

/* logged in header */

.navbar-icon-fa { /*sets the color of the notification and message icon on navbar on top right */
        color: white;
}

.navbar-icons > li {
    display: inline-block;
     padding: 10px 0;
     margin-right: 15px;
     margin-left: 15px;

}

.navbar-icons {

    background-color: #000;

}

.profile-image-header {    
    width: 30px;
    height: 30px;
    object-fit: contain;
    bottom: 5px;
    position: relative;
   border-radius: 5px;
    
}

.nav-counter{
       display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
    
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
}

/* logged out header- login form */


.navbar-form .login-checkbox { /* this is the remember me checkbox in the login form in the header */
  
  margin-top: 5px;
  margin-right: 100px;
}


.login-header-remember-me>label {  /* this is the label in checkbox in the login form in the header */
  color: white;    
}

.login-header-forgot-pw>a {
  color: white;
}

/* end of logged out header- login form */



/* error message (found in _error_response_) */

#landing-page-error {
 width: 100%;
 position: absolute;
 top: 0; /* this and the position: absolute has the error message pop up right below the header nav bar in landing page */
 height: 10%;
}

.jumbotron .error-message {
  font-size: 15px;
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  
/* end of error message (found in _error_response_) */


/* logged in header */

.footer {

bottom:0;
 /*The div is absolutely positioned bottom:0; this moves it to the bottom of the outside-container div. When there is little content on the page the container div is exactly the height of the browser viewport (because of the min-height:100%;) */
 width:100%;  
 position: absolute;
 display: none; 

   right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; 
}


.jumbotron {
    margin-bottom: 0px;
    background-image: url(landing_page_cover.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    
    height: 400px;
    margin-bottom: 20px;
}

.signup-form {

	font-size: 30px; /*for some reason, gives space between form fields and submit button*/

}

.signup-form .input-group {
	margin-bottom: 10px;
	width: 70%; /* shortens the width of the signup form fields to align with page */
}

.signup-submit {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.landing-page-columns {
  text-align: center;
}

/* end  of landing page styles and headers */

/* onboarding-one styles */

.panel-default {
   
  width: 55%;
  
}

.onboarding-family {
 position: relative;
    margin-top: 5%;
    
}

.onboarding-submit {
    
 display: inline-block; /*inline-block elements are like inline elements but they can have a width and height */
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer; /* adds a hand pointer */
  text-align: center;
  color: white;  
  border: none;
  border-radius: 10px;  
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(67,142,89,1) 0%, rgba(0,188,28,1) 0%, rgba(14,145,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#0e9100',GradientType=0 ); /* IE6-9 */
}


.onboarding-submit:active {

  background-color: white;
  transform: translateY(2px);

}

/* onboarding-one style */


/* begin onboarding-three style (profile pic upload) */

.profile-image-onboarding {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.skip-onboarding {
    margin-left: 10px;
    color: red;
}

/* end of onboarding-three style (profile pic upload) */



/* begin _social_accounts_connect style (social media connections) */

.btn-social {

width: 60%;  
margin-top:6px;
margin-bottom: 9px;

}

.btn-youtube {
    background-color: #c4302b; /*is the youtube color code*/
    color: white; 
}

.btn-youtube:hover{
    color:#fff;
    background-color:#9A1513;
    border-color:#9A1513;

}

.btn-youtube:active {
    color:#fff;
    background-color:#7F110F;
    border-color:#7F110F;

}

/* end _social_accounts_connect style  */


/* begin dashfolio style  */

.top-container{
  
}

.dashfolio-main-row {
  padding-left: 15px;
  padding-right: 15px;
}

.dashfolio-main-container {
  border-left: 2px solid #027878;
  border-right: 2px solid #027878;
    border-bottom: 2px solid #027878;
  border-radius: 10px;

  -webkit-box-shadow: 0px 2px 20px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 20px -12px rgba(0,0,0,0.75);
box-shadow: 0px 2px 20px -12px rgba(0,0,0,0.75);

}


.bar {  

  width: 30px;
  height: 340px;
  max-height: 350px;
  display: inline-block;
  margin-left: -5px;
  padding: 0;

  }

  .right-bars {
   text-align: right; /* pushes the vertical bars on the right, to the right of the div */
  }

.bar-first {
  background-color: #C22326;  
}

.bar-second {
  background-color: #F37338;  
}

.bar-third {
  background-color: #FDB632;  
}


.bar-fourth {
  background-color: #FDB632;    
}

.bar-fifth {

    background-color: #027878; 
}


.bar-sixth {
  background-color: #801638;
}


.dashfolio-profile-pic-connect-container{ /* houses the profile pic with message connect icon */
  text-align: center;
}

.profile-pic-dashfolio {

  margin-top: 10px;
  width: 250px;
  height: 250px;  
  object-fit: contain;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
padding: 5px;
background: #FAFAFA;
}

.message-connect-buttons {

margin-top:17px;
  
}


.message-dashfolio {

width: 70px;
height: 40px;
border-radius: 10px;
color: white;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f5087+0,3f4c6b+100 */
background: rgb(79,80,135); /* Old browsers */
background: -moz-linear-gradient(top, rgba(79,80,135,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(79,80,135,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(79,80,135,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5087', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

 padding: 0px 25px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid 
}

.message-dashfolio:active {

  background-color: white;
  transform: translateY(2px);
  
}

.connect-dashfolio {


height: 40px;
border-radius: 10px;
color: white;

background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(67,142,89,1) 0%, rgba(0,188,28,1) 0%, rgba(14,145,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#0e9100',GradientType=0 ); /* IE6-9 */

padding: 0px 20px;
font-size: 15px;
border: none;

}

.dashfolio-profile-name-container {
  position: relative;
  right: 20px;
}

.dashfolio-profile-name-container>h2 {
 font-family: 'neutra-demi'; 
} 

.tag-container {
max-width: 300px; /* helps wrap the tags in a specific width */

}

.tag-container:after {
visibility: hidden; 
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.dashfolio-tag {
  cursor:pointer;
  background-color: blue;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-top: 3px; /*incase tags go in next line, will space */
  color:#fff;
  background:#789;
  padding-right: 10px; /* adds space inside the tags for the 'x' button */
  /* the below two help in adding space between new tags */ 
  /*http://stackoverflow.com/questions/39482063/creating-a-tag-box */
  margin-right: 4px;
  float: left;
 
}

.my_dashfolio .dashfolio-tag:hover{
  opacity:0.7;
}

.dashfolio-tag span.close { 
 margin-left: 10px;
 margin-top: 2px;
 font-size: 14px;
 color: #fff;
}

.close>a {
  color: white;
}

#add-tag-input {
  background:#eee;
  border:0;
  margin:6px 6px 6px 0px ; /* t r b l */
  padding:5px;
  width:auto;
}

#add-tag-form-button {
  
}

#add-tag-input-group {
display: none;
 
}

.add-tag-dashfolio {
  margin-top: 5px;
}


.location-container { /* has the no. of connections and preview of connections in dashfolio top container*/
  margin-top: 20px;
  font-size: 15px;
  padding-bottom: 15px;

}

.connection-number-dashfolio {
  font-size: 20px;
  color: #696969;
}

.dashfolio-connection {

  width: 45px;
  height: 45px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 3px;
}

.connection-container {

width: 250px; /*makes the connections profile pis stack up to 4 per row, only checked in mozilla */  

}

.connection-profile-pic {
  max-width: 100%;
  max-height: 100%; /*the max width sets the profile images to fit the above 30x30 px dimension set above */
  border-radius: 15px;
}

.dashfolio-content-dashbar {
  
  height: 60px;
  margin-top: -7px; /*removes gap between midbar and the vertical theme bar */ 
  border-radius: 15px;
   display: inline-block;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,070707+100,131313+100 */
background: rgb(45,45,45); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%, rgba(7,7,7,1) 100%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(7,7,7,1) 100%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(7,7,7,1) 100%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


}

.dashfolio-content-dashbar.sticky {
 position: fixed;
 top:0; 
z-index: 3;
left: 10%;
width: 80%;
}


.dashfolio-midbar-icons > li {
float: left;
position: relative;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
 
}

/* this is the "About" anchor tag in the midbar */

#dashfolio-midbar-about-h2 {
  color: white;
}

#dashfolio-midbar-about-h2:hover {
  text-decoration: none;
}

#dashfolio-midbar-about-h2:focus {
  text-decoration: none;
  color: white;
}

.dashfolio-midbar-icons > li:hover {
background: #111; 
height: 60px;
text-decoration: none;
}

.dashfolio-midbar-icons > li.active {
background: #111; 

}

.dashfolio-midbar-active {
  text-decoration: none;
  background: #111; 
  height: 60px;
  /* note: webkit text decorations override normal ones */

   -webkit-text-fill-color: #dcdede;
}


.dashfolio-midbar-about {
font-family: 'neutra-demi'; 
font-size: 20px;
font-color: white;
margin-left: 40px;
color: white;

}

.dashfolio-midbar-pictures {
   margin-right: 65px; /* pushes the pictures, which is the farthest to the right on he midbar, a little to the left */
}

.header-info {
display: none;
max-width:250px;
text-align:center;
font-size: 0px;
margin-top: 10px;
border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.tablink { 
/* eg: Bio and Timeline, Tracks and Albums */
 
  display: inline-block;
  text-decoration: none !important; /* this removes the undlerline for anchor tags on hover */
  font-size: 15px;
  font-weight: bold;
  padding: 5px; /* adds some space between anchor tags and the border for the tablinks */
  text-align: center;
  width: 50%; 
  /* most important as it specifies the width of each of the anchor element is half of the border around it */
}

.tablink:focus {
  color: white;
}

/* animation styles for the about header container links */
.about-header-container {  
width: 240px;
border:10px solid #027878; 
margin-left: 35px;
}

.about-header-container-active { 
/* this is the class for highlighting a selected element in the about header container, eg: bio and timeline */

position: relative;
color: white;
background-color: #027878; 
height: 100%;
text-decoration: none !important;  
}

.about-header-container>a:hover {
  
  background-color: #027878; 
  height: 100%;
  position: relative;  
  color: white;
  opacity: 0.8;
}

/* end of animation styles for the about header container links */



/* animation styles for the music header container links */

.music-header-container {
  position: relative;
  left: 61%;
  border:10px solid #027878; 
}

.music-header-container-active {
  /* this is the class for highlighting a selected element in the music header container, eg: tacks and albums */

position: relative;
color: white;
background-color: #027878;  
height: 100%;
text-decoration: none !important;

}

.music-header-container >a:hover{
  background-color: #027878;  
  height: 100%;
  position: relative;  
  color: white;
  opacity: 0.8;
 
}


/* end of animation styles for the music header container links */

.header-info.active { /* example "Bio" and "Timeline" */
  display: block;
}

.timeline-event-cancel {
  display: none;
}

/* start of the add media buttons and their specific styles */

.dashfolio-add-media { /* contains the 'add social media' buttons on dashfolio */
  width: 350px;

  margin-bottom: 10px;

}

.dashfolio-add-media>a {
  display: inline-block; /* for some unexplained reason, this does the function of margin: 0 auto i.e centering the add-media buttons inside the dashfolio, it's still not known how to get 2 add media buttons on the same line */

}

.dashfolio-audio-add-button {
  position: relative;
  bottom: 90px;
}

.dashfolio-picture-add-button {
   position: relative;
  bottom: 50px;
}

.dashfolio-video-add-button {
  position: relative;
  bottom: 50px;
}

/* end of the add media buttons and their specific styles */



.about-header-container>a {
padding-right: 10px;
}

#bio-dashfolio { /*makes the about section is a lil more towards the center with right padding */
  padding-left: 40px;
  padding-right: 40px;
}

#timeline-dashfolio { /*makes the about section is a lil more towards the center with right padding */
  padding-left: 40px;
  padding-right: 40px;
}

.tabcontent {
  margin-top: 40px;
  }



.tabcontent {
    display:none;

}
 
.tabcontent.active {
    display:block;
}


.music-content { /* the music tracks will display in the center of the dashfolio*/
  text-align: center;
}

.pictures-content { /* the pics will display in the center of the dashfolio */
  text-align: center;
  margin: 0 auto;

}

.video-content { /* the videos will display in the center of the dashfolio*/
  text-align: center;
}

.dashfolio-content-li { /* houses all the list items of the videos and music items of dashfolio */
  margin-right: 20px;
  margin-bottom: 20px;  
  display: inline-block; /* makes the content inline */
}


#videos-dashfolio { /* contains the videos */
 /* pushes the videos to the same level as the about and music items */
  position: relative;
  top: 20px; 
}

#pictures-dashfolio{ /* contains the pics */
   /* pushes the pictures to the same level as the about and music items */
  position: relative;
  top: 20px;

}

.picture-body { /* the main body of image containers */

  -webkit-box-shadow: inset -3px -1px 15px 5px rgba(0,0,0,0.01);
-moz-box-shadow: inset -3px -1px 15px 5px rgba(0,0,0,0.01);
box-shadow: inset -3px -1px 25px 15px 5px rgba(0,0,0,0.01);
    height: 370px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ececec;
}

.picture-account-name { /* eg: 9Gag isntagram acount name, shown in each pic */
  margin-left: 10px;
  margin-top: 5px;
}

.picture-image {  
    height: 284px;
    object-fit: contain;
    margin: 0 auto;
    width: 228px;
    background-color: black;
}


.picture-logo.pull-right { /* eg:the instagram logo */
    margin-top: 10px;
    height: 30px;
    object-fit: contain;
    width: 30px;
}

/*timeline-form add new event form */

.timeline-form-panel { /*overrides the panel styles used in the onboarding pages */
  
  width: 100%;
  display: none;
  margin-top: 30px;

}

/*timeline-form add new event */


/* start of connection invite page */

#connection-invite-other{
  display: none;
}

/* end of connection invite page */

/*start of modal filter styles */

.filter-content-modal-container {
  margin-left: 20%; /*aligns the modal box to the center of the page */
}

.filter-content-modal-main{
  width: 1000px;
  text-align: center;
}




/* end of modal filter styles */

/* end of dashfolio styles */

/* start of inbox styles*/



.inbox-preview
{
  
    width:400px;
    height:100%;
    float:left;
    position: absolute;
    z-index:1;
    overflow-y: scroll; /* makes it scrollable */
    /*http://stackoverflow.com/questions/13337646/scroll-inside-of-a-fixed-sidebar */ 
}

.inbox-preview-items {
  list-style: none;
  margin-top: 15px;
}

.inbox-preview-items .unseen {
  background: #f5f5f5;
}

.inbox-preview-profile-pic-container {
  display: inline-block;

}

.inbox-preview-name-container{
  display: inline-block;
  margin-top: 3px;
  position: relative;
  top: 25px;
  left: 5px;

}

.inbox-preview-date{
font-size: 10px;
margin-top: 10px;
opacity: 0.5;  
}

.inbox-peview-divider {
  position: relative;
  right: 20px;
  width: 350px;
}

.inbox-preview-profile-pic{

  object-fit: contain;
  width: 75px;
  height: 75px;
  border-radius: 8px;

}

.message-full-preview{
  position: relative;
  width: 100%;
  margin-left: 300px;
}

.inbox-sender-info-container{
-webkit-box-shadow: 4px 7px 22px -20px rgba(0,0,0,0.62);
-moz-box-shadow: 4px 7px 22px -20px rgba(0,0,0,0.62);
box-shadow: 4px 7px 22px -20px rgba(0,0,0,0.62);
width: 75%;
border-radius: 10px;
cursor: pointer;
margin-bottom: 20px;
border:2px solid #FDB632;
padding: 10px; 

}

.inbox-title {
  font-family: 'neutra-demi';
  margin-bottom: 30px;
}

.inbox-main-profile-pic-container{
  display: inline-block;
}

.inbox-main-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  object-fit: contain;
  display: inline-block;
  position: relative;
  bottom: 15px;

}

.inbox-main-name-tagline-container {
  display: inline-block;
} 

.inbox-main-message-subject {
  font-size: 15px;
  font-weight: bold;
}

.inbox-main-message-container {
  width: 75%;
  border:2px solid #027878;
  padding: 18px;
  border-radius: 10px;

}

.inbox-main-message-body {
   overflow-y: scroll;
   max-height: 300px;  
}

.inbox-main-action-buttons {
margin-top: 15px;
  
}

.inbox-main-message-exchange{
 max-width: 60%;
 position: relative;
 margin-bottom: 20px;

border-radius: 15px;
padding: 20px;
clear: both;
}

.inbox-main-message-exchange span { /* the sent dates for messages in inbox message exchanges */
  font-size: 10px;
  font-style: italic;
}

.inbox-main-message-them {
   background-color: #F0F0F0; 
   margin-left: 4px;
}



.inbox-main-message-you {
  background-color: #C7FCD6;
  margin-right: 4px;
}

.inbox-main-reply-body {
    
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 20px 60px 20px; /* top right bottom left */
    background-color: #FCF4C6;
}

.inbox-main-reply-body>textarea {
    border-radius: 10px;

}


/* end of inbox styles */


/*start of new message styles */

.new-message-to-info-container {
   border: 2px solid #fdb632;
    border-radius: 10px;
    box-shadow: 4px 7px 22px -20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 100px;
    padding: 10px;

    width: 81%;

}

/* end of new message styles */

/* start the notifications styles */

.notif-title {

  font-family: "neutra-demi";
}

.notif-container {
  border:2px solid #F37338;
  border-radius: 10px;
  padding: 10px; 
  -webkit-box-shadow: 10px 12px 16px -18px rgba(0,0,0,0.43);
-moz-box-shadow: 10px 12px 16px -18px rgba(0,0,0,0.43);
box-shadow: 10px 12px 16px -18px rgba(0,0,0,0.43);

margin: 30px 30px 30px 0px; /* top right bottom left */

}

.notif-profile-pic-container {
    display: inline-block; 
}

.notif-profile-pic {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 10px;
 
}

.notif-name-tag-container {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 13px;
}




/* end the notifications styles */


/* start of search styles */

.search-navigation-bar {
    float: left;
    height: 100%;;
    position: fixed;
    width: 400px;
    z-index: 1;
    border-right: 1px solid #dddddd;

}

.search-navigation {

  cursor: pointer;
  padding: 7px;
  margin: 0 auto;

  width: 250px;
  height: 40px;
  font-size: 20px;
}

.search-navigation:hover {
  border-left: 4px solid #027878;  
}


.seach-navigation-active {
  border-left: 4px solid #027878;
}



#search-navigation-user {


  margin-top: 200px;
  padding-bottom: 40px;

}


#search-navigation-tag {
padding-top: 15px;
}


.search-navigation-p {
  text-align: center;
  color: gray;
}

.search-navigation-p-active {
  color: #027878;
}

.search-number-inactive {
  background: gray;
}

.search-number-active {
 background-color: #027878;
}

.search-navigation-hr {
  width: 60%;
}

.search-number {
font-weight: normal;
border-radius: 50px;
padding: 5px;
color: white;
font-size: 10px;
float: right;
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px;
min-height: 25px;
min-width: 25px;
}

.search-header {

  position: relative;
  width: 100%;

}

.search-header >h1 {
    font-family: "neutra-demi";
}

.search-header >h3 {
    font-size: 20px;
}

.main-search-results {
     margin-left: 200px;
    position: relative;
    width: 80%
  
}

.search-main-container {

}

.search-keyword-header{
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
}

.search-main-keyword {
  color: #2E7DC3;
  text-decoration: underline;
}


.search-name-container {
}

.search-tag-container {
  display: none;
}

.search-name-individual{
      border: 2px solid #fdb632;
    border-radius: 10px;
    box-shadow: 4px 7px 22px -20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 12px;
    margin-right: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.search-profile-pic-container {
  display: inline-block;
  position: relative;
  bottom: 22px;
}

.search-profile-name-tag-container {
  top: 15px;
  position: relative;
}

.search-profile-pic {
     border-radius: 15px;
    bottom: 15px;
    display: inline-block;
    height: 100px;
    object-fit: contain;
    position: relative;
    width: 100px;
}

.search-tagline-container{
  display: inline-block;
  margin-left: 10px;
}

.search-tags-list {
  display: inline-block;
}

.paginator {
  clear: both;
}
/* end of search styles */


/*start of settings styles  */

.settings-navigation-bar {
    float: left;
    height: 100%;
    position: fixed;
    width: 400px;
    z-index: 1;
    border-right: 1px solid #DDDDDD;

}

.settings-navigation {
  cursor: pointer;
  padding: 7px;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;

}

.settings-navigation:hover {
 
  border-left: 4px solid #027878;
  color: #027878;
}

.settings-navigation-active {
border-left: 4px solid #027878;
  
}

.settings-anchor-active {
-webkit-text-fill-color: #027878;
  
}

.settings-navigation-bar-contents {

  padding: 100px;

}

.settings-navigation-a{
  color: gray;
}

.settings-navigation-a:hover{
  text-decoration: none;
   color: gray;
}

.settings-navigation-a:focus{
  text-decoration: none;
  color: gray;
}  

.main-settings-container {
  margin-left: 200px;
}

.main-settings-header {
  font-family: "neutra-demi";
}

.main-settings-social-individual>a {
  display: inline-block;
}

#main-settings-account{
  display: none;
}

.main-settings-form {
  width: 50%;
  display: none;
}

.main-settings-form-buttons { 
  text-align: right;
}

.main-settings-current-pic {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.main-settings-form-input {
  margin-bottom: 10px;
}

.main-settings-profile-pic-buttons {
  margin-top: 10px;
}

.main-settings-social-individual {
  width: 80%;
}
/* end of settings styles */


/* start of password recovery styles (both password forgot and reset)  */

.password-recovery-header {
font-family: "neutra-demi";  
}

.password-recovery-instructions {
margin-top: 30px;
margin-bottom: 20px;  
}

.password-recovery-form {
  width: 50%;
}


/* end of password recovery styles (both password forgot and reset)  */