@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "jquery-ui/datepicker";
@import "font-awesome";
@import "fonts";
@import "custom_styles";

body {
   
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height:100%;

}

.ui-datepicker {
  padding: 0.2em 1.2em 0 0.3em;
  background: #eee;
}

.navbar-header {  /*adjusts the logo and search bar to align with the login form in the header */
  margin-top: 10px;
}

.navbar-brand img {
	width:40px;
     height:40px;
     position:relative;
     bottom:10px;
     object-fit:contain;
    -webkit-filter: drop-shadow(10px 10px 5px -5px white);
    filter:  drop-shadow(10px 10px 5px -5px white); 
}

.navbar {

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #1c1c1c 100%, #3f3f3f 100%, #111111 100%, #2b2b2b 100%, #303030 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#1c1c1c 100%,#3f3f3f 100%,#111111 100%,#2b2b2b 100%,#303030 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#1c1c1c 100%,#3f3f3f 100%,#111111 100%,#2b2b2b 100%,#303030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
margin-bottom: 0; /* important as it eliminates the space between navbar and jumbotron image*/

}
.input-group {

	height: 12px;
}

.navbar button {

	height: 30px;
}

.outside-container{
     min-height:100%; /* this makes sure that the contents of any html page wrapped withhin this has the full length of the browser */
     position:relative; 
}

/* logged in header */

.navbar-icon-fa { /*sets the color of the notification and message icon on navbar on top right */
        color: white;
}

.navbar-icons > li {
    display: inline-block;
     padding: 10px 0;
     margin-right: 15px;
     margin-left: 15px;

}

.navbar-icons {

    background-color: #000;

}

.profile-image-header {    
    width: 30px;
    height: 30px;
    object-fit: contain;
    bottom: 5px;
    position: relative;
   border-radius: 5px;
    
}

/* logged out header- login form */


.navbar-form .login-checkbox { /* this is the remember me checkbox in the login form in the header */
  
  margin-top: 5px;
  margin-right: 100px;
}


.login-header-remember-me>label {  /* this is the label in checkbox in the login form in the header */
  color: white;    
}

.login-header-forgot-pw>a {
  color: white;
}

/* end of logged out header- login form */



/* error message (found in _error_response_) */

#landing-page-error {
 width: 100%;
 position: absolute;
 top: 0; /* this and the position: absolute has the error message pop up right below the header nav bar in landing page */
 height: 10%;
}

.jumbotron .error-message {
  font-size: 15px;
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  
/* end of error message (found in _error_response_) */



/* logged in header */

.footer {

bottom:0;
position: absolute; /*The div is absolutely positioned bottom:0; this moves it to the bottom of the outside-container div. When there is little content on the page the container div is exactly the height of the browser viewport (because of the min-height:100%;) */
 width:100%;    
}


.jumbotron {
    margin-bottom: 0px;
    background-image: url(landing_page_cover.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    
    height: 400px;
    margin-bottom: 20px;
}

.signup-form {

	font-size: 30px; /*for some reason, gives space between form fields and submit button*/

}

.signup-form .input-group {
	margin-bottom: 10px;
	width: 70%; /* shortens the width of the signup form fields to align with page */
}

.signup-submit {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}


/* onboarding-one styles */

.panel-default {
   
  width: 55%;
  
}

.onboarding-family {
 position: relative;
    margin-top: 5%;
    
}

.onboarding-submit {
    
 display: inline-block; /*inline-block elements are like inline elements but they can have a width and height */
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer; /* adds a hand pointer */
  text-align: center;
  color: white;  
  border: none;
  border-radius: 10px;  
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(67,142,89,1) 0%, rgba(0,188,28,1) 0%, rgba(14,145,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#0e9100',GradientType=0 ); /* IE6-9 */
}


.onboarding-submit:active {

  background-color: white;
  transform: translateY(2px);

}

/* onboarding-one style */


/* begin onboarding-three style (profile pic upload) */

.profile-image-onboarding {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.skip-onboarding {
    margin-left: 10px;
    color: red;
}

/* end of onboarding-three style (profile pic upload) */



/* begin _social_accounts_connect style (social media connections) */

.btn-social {

width: 60%;  
margin-top:6px;
margin-bottom: 9px;

}

.btn-youtube {
    background-color: #c4302b; /*is the youtube color code*/
    color: white; 
}

.btn-youtube:hover{
    color:#fff;
    background-color:#9A1513;
    border-color:#9A1513;

}

.btn-youtube:active {
    color:#fff;
    background-color:#7F110F;
    border-color:#7F110F;

}

/* end _social_accounts_connect style  */


/* begin dashfolio style  */

.bar {  

  width: 30px;
  height: 275px;
  max-height: 300px;
  display: inline-block;
  margin-left: -5px;
  padding: 0;

  }

  .right-bars {
   text-align: right; /* pushes the vertical bars on the right, to the right of the div */
  }

.bar-red {
  background-color: red;  
}

.bar-yellow {
  background-color: yellow;  
}

.bar-green {
  background-color: green;  
}

.dashfolio-profile-pic-connect-container{ /* houses the profile pic with message connect icon */
  text-align: center;
}

.profile-pic-dashfolio {

  margin-top: 10px;
  width: 200px;
  height: 200px;  

}

.message-connect-buttons {

margin-top:17px;
  
}


.message-dashfolio {

width: 70px;
height: 40px;
border-radius: 10px;
color: white;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+50,1e5799+100 */
background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

 padding: 0px 25px;
  font-size: 15px;
  border: none;
}

.message-dashfolio:active {

  background-color: white;
  transform: translateY(2px);
  
}

.connect-dashfolio {


height: 40px;
border-radius: 10px;
color: white;

background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(67,142,89,1) 0%, rgba(0,188,28,1) 0%, rgba(14,145,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(67,142,89,1) 0%,rgba(0,188,28,1) 0%,rgba(14,145,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#0e9100',GradientType=0 ); /* IE6-9 */

padding: 0px 20px;
font-size: 15px;
border: none;

}

.dashfolio-profile-name-container {
  position: relative;
  right: 20px;
}

.tag-container {
max-width: 300px; /* helps wrap the tags in a specific width */

}

.tag-container:after {
visibility: hidden; 
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.dashfolio-tag {
  cursor:pointer;
  background-color: blue;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-top: 3px; /*incase tags go in next line, will space */
  color:#fff;
  background:#789;
  padding-right: 20px; /* adds space inside the tags for the 'x' button */
 
}



.dashfolio-tag:hover{
  opacity:0.7;
}

.dashfolio-tag:after { 

 position:absolute;
 content:"×";
 padding:2px 2px;
 margin-left:2px;
 font-size:11px;
}

#add-tag-input {
  background:#eee;
  border:0;
  margin:6px 6px 6px 0px ; /* t r b l */
  padding:5px;
  width:auto;
}

.add-tag-input-group {
  display: none;
}

.add-tag-dashfolio {
  margin-top: 5px;
}


.location-container {
  margin-top: 12px;
  font-size: 20px;

}

.connection-number-dashfolio {
  font-size: 20px;
  color: #696969;
}

.dashfolio-connection {

  width: 45px;
  height: 45px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 3px;
}

.connection-container {

width: 250px; /*makes the connections profile pis stack up to 4 per row, only checked in mozilla */  

}

.connection-profile-pic {
  max-width: 100%;
  max-height: 100%; /*the max width sets the profile images to fit the above 30x30 px dimension set above */
  border-radius: 15px;
}

.dashfolio-content-dashbar {
  
  height: 60px;
  margin-top: 0px; 
  border-radius: 15px;
   display: inline-block;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,070707+100,131313+100 */
background: rgb(45,45,45); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%, rgba(7,7,7,1) 100%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(7,7,7,1) 100%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(7,7,7,1) 100%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}


.dashfolio-midbar-icons > li {
float: left;
position: relative;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
 
}

.dashfolio-midbar-icons > li:hover {
background: #111; 
height: 60px;
text-decoration: none;
}

.dashfolio-midbar-icons > li.active {
background: #111; 
}

.dashfolio-midbar-about {
font-family: 'bebas'; 
font-size: 20px;
font-color: white;
margin-left: 40px;

}

.dashfolio-midbar-pictures {
   margin-right: 65px; /* pushes the pictures, which is the farthest to the right on he midbar, a little to the left */
}

.about-header-container {  
margin-left: 80px;
margin-top: 10px;
font-size: 15px;
}

.header-info {
display: none;
margin-left: 80px;
margin-top: 10px;
font-size: 15px;
}


.header-info.active { /* example "Bio" and "Timeline" */
  display: block;
}

.timeline-event-cancel {
  display: none;
}

.dashfolio-add-media { /* contains the 'add social media' buttons on dashfolio */
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;

}

.dashfolio-add-media>a {
  display: inline-block; /* for some unexplained reason, this does the function of margin: 0 auto i.e centering the add-media buttons inside the dashfolio, it's still not known how to get 2 add media buttons on the same line */

}

.active-individual-header {
  text-decoration: underline;
}

.about-header-container>a {
padding-right: 10px;
}

#bio-dashfolio { /*makes the about section is a lil more towards the center with right padding */
  padding-left: 40px;
  padding-right: 40px;
}

#timeline-dashfolio { /*makes the about section is a lil more towards the center with right padding */
  padding-left: 40px;
  padding-right: 40px;
}

.tabcontent {
  margin-top: 40px;
  }


.tablink {
  margin-right: 20px;
}

.tablink:active {
  color: red;
}

.tabcontent {
    display:none;

}
 
.tabcontent.active {
    display:block;
}

.music-header-container {
  position: relative;
  left: 61%;

}
.music-content { /* the music tracks will display in the center of the dashfolio*/
  text-align: center;
}

.pictures-content { /* the pics will display in the center of the dashfolio */
  text-align: center;
  margin: 0 auto;

}

.video-content { /* the videos will display in the center of the dashfolio*/
  text-align: center;
}

.dashfolio-content-li { /* houses all the list items of the videos and music items of dashfolio */
  margin-right: 20px;
  margin-bottom: 20px;  
  display: inline-block; /* makes the content inline */
}


#videos-dashfolio { /* contains the videos */
 /* pushes the videos to the same level as the about and music items */
  position: absolute;
  top: 30px; 
}

#pictures-dashfolio{ /* contains the pics */
   /* pushes the pictures to the same level as the about and music items */
  position: absolute;
  top: 30px;

}

.picture-body { /* the main body of image containers */

  -webkit-box-shadow: inset -3px -1px 15px 5px rgba(0,0,0,0.01);
-moz-box-shadow: inset -3px -1px 15px 5px rgba(0,0,0,0.01);
box-shadow: inset -3px -1px 25px 15px 5px rgba(0,0,0,0.01);
    height: 370px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ececec;
}

.picture-account-name { /* eg: 9Gag isntagram acount name, shown in each pic */
  margin-left: 10px;
  margin-top: 5px;
}

.picture-image {  
    height: 284px;
    object-fit: contain;
    margin: 0 auto;
    width: 228px;
    background-color: grey;
}


.picture-logo.pull-right { /* eg:the instagram logo */
    margin-top: 10px;
    height: 30px;
    object-fit: contain;
    width: 30px;
}

/*timeline-form add new event form */

.timeline-form-panel { /*overrides the panel styles used in the onboarding pages */
  
  width: 100%;
  display: none;
  margin-top: 30px;

}

/*timeline-form add new event */