@font-face {
  font-family: 'bebas';
  src: font-url("BebasNeuewebfont.eot") format("eot"),
       font-url("BebasNeuewebfont.woff") format("woff"),
       font-url("BebasNeuewebfont.ttf")  format("truetype");
}

@font-face {
  font-family: 'neutra-demi';
  src: 	font-url("NeutraText-Demi.eot") format("eot"),
  		font-url("NeutraText-Demi.woff") format("woff"),
  		font-url("NeutraText-Demi.ttf")  format("truetype");
}

@font-face {
  font-family: 'lucida-grande';
  src:  font-url("Lucida_grande.eot") format("eot"),
  		font-url("Lucida_grande.woff") format("woff"),
  		font-url("Lucida_grande.ttf")  format("truetype");
}
